    .buttons {
    	margin: 0px 110px;
    	text-decoration: none;
    	padding: 5px 10px;
    	background-color: rgba(51, 51, 51,0.5);
    	border:1px solid $primaryyellow;
    	color: $fontcolor;
    }
    .buttons:hover {
    	@include colorhover;
    }